<p-panel [header]="header">
  <div class="wrapper m-0"
       [formGroup]="form">

    <span class="p-float-label">
      <p-inputNumber inputId="current-principal"
                     mode="currency"
                     currency="USD"
                     locale="en-US"
                     formControlName="currentPrincipal"
                     [attr.data-cy]="'principal-' + leg.id">
      </p-inputNumber>
      <label for="current-principal">Current Principal:</label>
    </span>

    <span class="p-float-label">
      <p-inputNumber inputId="annual-addition"
                     mode="currency"
                     currency="USD"
                     locale="en-US"
                     formControlName="annualAddition"
                     [attr.data-cy]="'annual-addition-' + leg.id">
      </p-inputNumber>
      <label for="annual-addition">Annual Addition</label>
    </span>

    <span class="p-float-label">
      <p-inputNumber inputId="years"
                     [min]="1"
                     [max]="100"
                     formControlName="yearsToGrow"
                     [attr.data-cy]="'years-' + leg.id">
      </p-inputNumber>
      <label for="years">Years to grow: </label>
    </span>

    <span class="p-float-label">
      <p-inputNumber inputId="interest-rate"
                     prefix="%"
                     mode="decimal"
                     [minFractionDigits]="0"
                     [maxFractionDigits]="5"
                     [min]="0"
                     [max]="100"
                     formControlName="interestRate"
                     [attr.data-cy]="'interest-rate-' + leg.id">
      </p-inputNumber>
      <label for="interest-rate">Interest Rate: </label>
    </span>

    <span style="margin-right: 10px;" [attr.data-cy]="'result-' + leg.id">
      Result: {{resultingValue$ | async | currency}}
    </span>

  </div>
</p-panel>