.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: baseline;
    height: 17.5rem;
  }
}